<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Confirm Key</title>
    </head>
    <body>
        <div class="container" style="width: fit-content; height: 700px; border: solid red 1px; border-radius: 10px; padding: 30px; font-size: 20px;">
            <img src="cid:attachment.png" alt="logo" style="display: block; width: 300px; height: 300px;"/>
            <h1 style="color: red; font-size: 40px;"><b>Confirm key</b></h1>
            <p th:text="'Dear ' + ${name} + ','">Dear,</p>
            <p th:text="'This is your comfirm key: ' + ${key} + '.'">This is your comfirm key:</p>
            <p><b>Key will expired in 5 minutes</b></p>
            <p>
                <span>Regards, </span>
                <br/>
                <em>GG-app team</em>
            </p>
        </div>
    </body>
</html>